.container {
    color: blue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    list-style: none;
    line-height: 1.5;
    word-spacing: 2px ;
    text-decoration: underline;
    text-indent: 30px;
}
#left {
    width: 45%;
    height: 200px;
    background-color: lightgreen;
    float: left;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
#right {
    width: 45%;
    height: 200px;
    background-color: lightblue;
    float: right;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}