img[alt]{
    border-width: 4px;
    border-style: solid;
    border-color: yellow;
}
input[type="text"]{
    color: red;
    font-weight: bold;
}
input[type="password"]{
    color: green;
    font-weight: bold;
}
p{
    text-align:justify;
    padding : 50px;
    
}